html, body{
	height: 100%;
}
body{
	font-size: 1rem;
	font-weight: 400;
	color: #696969;
	background-color: #f1f1f1;
	font-family: "Helvetica"
}
h2{
	font-size: 1.2rem;
}
.visible{
	opacity: 1 !important;
}
.top{
	top: 0;
}
.bottom{
	bottom: 0;
}
.alert{
	width: 100%;
	display: block;
	padding: 5px;
	border: 1px solid;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	position: absolute;
	text-align: center;
	font-size: 0.7rem;
}
.alert-warning{
	background-color: #f2dede;
	color: #a94442;
	border-color: #ebccd1;
}
.display{
	display: block;
}
.no-display{
	display: none !important;
}
.box-photo{
	position: relative;
	width: 100%;
	background-color: #fff;
	-webkit-border-radius: 35px;
	border-radius: 35px;
	padding: 15px;
	overflow: hidden;
	height: 145px;
	margin: 10px 0;
}
.box-photo-all-infos{
	height: 300px !important; 
	-webkit-transition: height 1s; /* Safari */
    transition: height 1s;
}
.box-photo.box-photo-all-infos .info-container .list-tags .tag.no-display{
	display: inline-block !important;
	-webkit-transition: * 1s; /* Safari */
    transition: * 1s;
}
.box-photo .img-container{
	float: left;
}
.box-photo .img-container .img-box{
	display: block;
	width: 115px;
	min-height: 115px;
	background-size: cover;
	-webkit-border-radius: 140px 140px 140px 140px;
	border-radius: 140px 140px 140px 140px;
	-webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.3);
	box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.3);
}
.box-photo .img-container img{
	display: none;
}
.box-photo .info-container{
	position: relative;
	width: -webkit-calc(100% - 135px);
    width:    -moz-calc(100% - 135px);
    width:         calc(100% - 135px);
	float: right;
	display: block;
	height: 100%;
}

.box-photo .info-container button{
	position: absolute;
	bottom: 0;
	left: 0;
	border: 0;
	background-color: #888;
	padding: 8px 25px;
	color: #fff;
	text-transform: uppercase;
	font-size: 0.6rem;
	border-radius: 20px;
	-webkit-border-radius: 20px;
	cursor: pointer;
}

.box-photo .info-container .list-tags{
	width: 100%;
	position: absolute;
	bottom: 0
}
.box-photo .info-container .list-tags .tag{
	display: inline-block;
	padding: 5px 12px;
	text-transform: uppercase;
	font-size: 0.6rem;
	border-radius: 20px;
	-webkit-border-radius: 20px;
	background-color: #eaeaea;
	color: #999;
	font-weight: bold;
	margin-right: 1px;
}
.box-photo .info-container .list-tags .tagButton, .box-photo .info-container button{
	cursor: pointer; 
}
.box-photo .info-container .list-tags .tagButton:hover, .box-photo .info-container button:hover{
	background-color: #1e9ec5;
	color: #fff
}